*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
canvas{
    

    width: 1280px;
    height:720px;    
    background-color: white;
}